<a href="https://colab.research.google.com/github/laptopsx/Titanic-Pandas-Dataset/blob/main/Copy_of_For_Loops_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://drive.google.com/uc?id=1uPUwnTqN6FmhirxTGO-nPf-G4lSF3dn5" alt="Banner" width="1500">


# Python For-Loops Practice

These exercises will help you strengthen your understanding of `for` loops in Python.  
Each problem includes a **starter code cell** and a **hidden solution** you can reveal by clicking below it.

## Exercise 1: Square the Numbers

You’re given a list of numbers.  
Write a `for` loop that prints the **square** of each number.

In [ ]:
numbers = [2, 4, 6, 8]

# Your code here
for number in numbers:
  print(number ** 2)

4
16
36
64

<details>
<summary>Solution - click to reveal</summary>

```
numbers = [2, 4, 6, 8]
for number in numbers:
    print(number ** 2)
```

</details>


## Exercise 2: Calculate Total Cost

You’re given a list of item prices.  
Write a `for` loop that adds up the total cost and prints the **final total**.

In [ ]:
item_prices = [5.99, 3.49, 12.99, 2.99]

# Your code here
total = 0
for item_price in item_prices:
  final_total += item_price

print("Total cost", final_total)

Total cost 203.68000000000006

<details>
<summary>Solution - click to reveal</summary>

```
item_prices = [5.99, 3.49, 12.99, 2.99]

total = 0
for price in item_prices:
    total += price

print("Total cost:", total)

```

</details>


## Exercise 3: Countdown Timer

Use a `for` loop with `range()` to count down from **5 to 1**,  
then print `"Blast off!"`.

In [ ]:
# Your code here
for timer in range(5, 0, -1):
  print(timer)
print("Blast off!")

5
4
3
2
1
Blast off!

<details>
<summary>Solution - click to reveal</summary>

```
for number in range(5, 0, -1):
    print(number)

print("Blast off!")

```

</details>


## Exercise 4: Print Birthday Messages

You’re given a list of names.  
Write a `for` loop that prints a birthday message for each person.

In [ ]:
friends = ["Ava", "Ben", "Cleo"]

# Your code here
for friend in friends:
  print("Happy Birthday", friend+ "!")

Happy Birthday Ava!
Happy Birthday Ben!
Happy Birthday Cleo!

<details>
<summary>Solution - click to reveal</summary>

```
friends = ["Ava", "Ben", "Cleo"]

for name in friends:
    print(f"Happy Birthday, {name}!")

```

</details>


## Exercise 5: Multiples of 3

Use `range()` with a custom step to print all multiples of 3  
from 3 up to (and including) 30.

In [ ]:
# Your code here
for multiple in range(3, 31):
  if multiple % 3 == 0:
    print(multiple)

3
6
9
12
15
18
21
24
27
30

<details>
<summary>Solution - click to reveal</summary>

```
for number in range(3, 31, 3):
    print(number)


```

</details>